.bmi-info {
    padding: 40px;
    max-width: 800px;
    margin: auto;
  }
  
  .info-title {
    font-size: 2.5rem;
    color: #333333;
    margin-bottom: 20px;
  }
  
  .info-subtitle {
    font-size: 2rem;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .info-text {
    font-size: 1.1rem;
    color: #555555;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.6;
  }
  